////
/// @group mask
/// @module mask: 遮罩通用
/// @type String
/// @tag mask
/// @category utility
/// @family mask
/// @varPrefix $mask-
/// @classPrefix {prefix}-mask
////

// 1.21 后废弃这两个变量，通过 $mask-background-rgba 来实现
$mask-background: $color-black !default;
$mask-opacity: .2 !default;

/// background
/// @semantic 背景颜色
$mask-background-rgba: rgba(0, 0, 0, .2) !default;
